:root {
  font-family: 'Nunito', sans-serif;

  color: #231c39;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #701ddb;
  --gold-color: #fbbc04;
  --background: #f8e9ff;
  --button-border: 2px solid #ba86ff;

  --font-family: 'Nunito', sans-serif;
  --second-family: 'Titan One', sans-serif;
  --text: #231c39;
  --heading-2: #fffbdd;
  --h2-border: #411ba1;
  --header-bg: rgba(86, 32, 161, 0.8);
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: var(--background);
}

main {
  flex-grow: 1;
}

h1,
h2,
h3 {
  font-family: var(--second-family);
  font-weight: 400;
}

button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

svg {
  display: block;
  margin: 0;
  padding: 0;
}

.heading-outline-red {
  -webkit-text-stroke: 13px #bf161f;
  -webkit-text-fill-color: #fff;
  paint-order: stroke fill;
  color: #fff;
}

.heading-outline-purple {
  -webkit-text-stroke: 9px #411ba1;
  -webkit-text-fill-color: #fffbdd;
  paint-order: stroke fill;
  color: #fffbdd;
}
