<section class="advantages" data-observer="section" id="adventages">
  <div class="container">
    <div class="adventages-label-wrapper">
      <svg width="181" height="33" class="adventages-label-mob">
        <use href="/img/sprite.svg#adventages-label-mob"></use>
      </svg>
      <svg width="223" height="49" class="adventages-label">
        <use href="/img/sprite.svg#adventages-label"></use>
      </svg>
      <p class="adventages-label-text">Advantages</p>
    </div>
    <h2 class="adventages-title heading-outline-purple">
      Why players enjoy the kingdom
    </h2>
    <ul class="adventages-list">
      <li class="adventages-card ad-card-castle">
        <div class="adventages-card-wrapper ad-card-wrapper-castle">
          <div class="adventages-card-img-wrapper ad-card-img-castle-wrapper">
            <img
              src="/img/partials/adventages/adventages-castle.png"
              srcset="/img/partials/adventages/adventages-castle-2x.png 2x"
              class="adventages-card-img ad-card-img-castle"
              alt="adventages castle"
              width="103"
              height="114"
              loading="lazy"
            />
          </div>
          <p class="adventages-card-title">Regularly Updated Content</p>
          <p class="adventages-card-text">
            New levels and areas added frequently
          </p>
        </div>
      </li>
      <li class="adventages-card ad-card-shield">
        <div class="adventages-card-wrapper ad-card-wrapper-shield">
          <div class="adventages-card-img-wrapper ad-card-img-shield-wrapper">
            <img
              src="/img/partials/adventages/adventages-shield.png"
              srcset="/img/partials/adventages/adventages-shield-2x.png 2x"
              class="adventages-card-img ad-card-img-shield"
              alt="adventages shield"
              width="103"
              height="114"
              loading="lazy"
            />
          </div>
          <p class="adventages-card-title">Beginner to Pro Friendly</p>
          <p class="adventages-card-text">
            Approachable for casual players, challenging for veterans.
          </p>
        </div>
      </li>
      <li class="adventages-card ad-card-person">
        <div class="adventages-card-wrapper ad-card-wrapper-person">
          <div class="adventages-card-img-wrapper ad-card-img-person-wrapper">
            <img
              src="/img/partials/adventages/adventages-person.png"
              srcset="/img/partials/adventages/adventages-person-2x.png 2x"
              class="adventages-card-img ad-card-img-person"
              alt="adventages person"
              width="103"
              height="114"
              loading="lazy"
            />
          </div>
          <p class="adventages-card-title">Charming Visual Identity</p>
          <p class="adventages-card-text">
            A distinct pig-and-castle theme sets it apart from typical match-3s
          </p>
        </div>
      </li>
      <li class="adventages-card ad-card-magic">
        <div class="adventages-card-wrapper ad-card-wrapper-magic">
          <div class="adventages-card-img-wrapper ad-card-img-magic-wrapper">
            <img
              src="/img/partials/adventages/adventages-magic.png"
              srcset="/img/partials/adventages/adventages-magic-2x.png 2x"
              class="adventages-card-img ad-card-img-magic"
              alt="adventages magic"
              width="103"
              height="114"
              loading="lazy"
            />
          </div>
          <p class="adventages-card-title">Rewarding Long-Term Progress</p>
          <p class="adventages-card-text">
            Every level contributes to visibly rebuilding the castle.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
