<section
  class="contact-us"
  aria-labelledby="contact-us-heading"
  data-observer="section"
  id="contact-us"
>
  <div class="container contact-us-container">
    <div class="contact-us-title-group">
      <div data-aos="fade-left">
        <svg
          class="contact-us-label contact-us-label-mob"
          width="180"
          height="32"
          role="img"
          aria-label="Contact"
          focusable="false"
        >
          <use href="./img/sprite.svg#icon-label-mob"></use>
        </svg>

        <svg
          class="contact-us-label contact-us-label-desk"
          width="176"
          height="49"
          role="img"
          aria-label="Contact"
          focusable="false"
          data-aos="fade-left"
        >
          <use href="./img/sprite.svg#icon-label-desk"></use>
        </svg>
      </div>

      <h2
        id="contact-us-heading"
        class="contact-us-heading heading-outline-purple"
        data-aos="fade-right"
      >
        Ready to rebuild the kingdom?
      </h2>
    </div>

    <div class="contact-us-contacts-group">
      <a
        class="contact-us-email"
        href="mailto:info@urbananchor.pro"
        data-aos="fade-left"
      >
        Email: info@urbananchor.pro
      </a>

      <a
        href="https://play.google.com/store/apps/details?id=com.olleyo.piggy.king.free&hl=en&gl=us"
        class="hero-button"
        data-aos="fade-right"
      >
        Play on Google Play
        <svg class="hero-button-icon" width="24" height="27">
          <use href="{=$playmarket-icon}"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
