<section
  class="contact-us"
  aria-labelledby="contact-us-heading"
  data-observer="section"
  id="contact-us"
>
  <div class="contact-us-inner">
    <div class="contact-us-title-group">
      <svg
        class="contact-us-label contact-us-label-mob"
        width="180"
        height="32"
        role="img"
        aria-label="Contact"
        focusable="false"
      >
        <use href="./img/sprite.svg#icon-label-mob"></use>
      </svg>
      <svg
        class="contact-us-label contact-us-label-desk"
        width="176"
        height="49"
        role="img"
        aria-label="Contact"
        focusable="false"
      >
        <use href="./img/sprite.svg#icon-label-desk"></use>
      </svg>
      <h2
        id="contact-us-heading"
        class="contact-us-heading heading-outline-purple"
      >
        Ready to rebuild the kingdom?
      </h2>
    </div>

    <div class="contact-us-contacts-group">
      <a class="contact-us-email" href="mailto:info@urbananchor.pro"
        >Email: info@urbananchor.pro</a
      >
      <a
        class="contact-us-cta"
        href="https://play.google.com/googleplaygames/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span>Play on Google Play</span>
        <svg
          class="contact-us-cta-icon"
          width="24"
          height="27"
          aria-hidden="true"
          focusable="false"
        >
          <use href="./img/sprite.svg#icon-playmarket"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
